<html>
    <head>
        <title>Express</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    
    <body>
        <h1>Pagar {{v}}</h1>
        <a href="{{urlPago}}">Pagar producto</a>
    </body>
</html>