<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>Express '/'</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    
    <body>
        <h1>Express página de inicio.</h1>
    </body>
</html>